.container {
    border: solid black 5px;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-image: url(img/fond\ wick.jpg);
    background-size:cover;    
}

.trois {
    /* border: solid black 5px; */
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    margin-bottom: 5%;

}

.entete {
    /* border: solid green 5px; */
    width: 70%;
    margin: 0 auto;
    height: 20%;
    margin-top: 5%;
    border-radius: 10%;
    box-shadow:
    0 0 4px white,
    inset 0 0 4px white,
    0 0 16px white,
    inset 0 0 8px white,
    0 0 32px white,
    inset 0 0 16px white;
    background-image: url(img/entfond.png);
    background-size:cover;
    opacity: 0.6;
    text-align: center;
    color: white;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px black,
    0 0 82px black,
    0 0 92px black,
    0 0 102px black,
    0 0 151px black;
}

.gauche {
    /* border: solid blue 5px; */
    width: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 4%;
    border-radius: 10%;
    box-shadow:
    0 0 4px red,
    inset 0 0 4px red,
    0 0 16px red,
    inset 0 0 8px red,
    0 0 32px red,
    inset 0 0 16px red;
    background-image: url(img/player\ 1.webp);
    background-size:contain;
    opacity: 0.8;
    text-align: center;
    color: white;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px black,
    0 0 82px black,
    0 0 92px black,
    0 0 102px black,
    0 0 151px black;
    


}
    
.jeu {
    /* border: solid yellow 5px; */
    width: 50%;
    /* height: 40%; */
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    background-image: url(img/fond\ wick2.webp);
    background-size: cover;
    opacity: 0.3;
    border-radius: 10%;
    box-shadow:
    0 0 8px yellow,
    inset 0 0 8px yellow,
    0 0 16px yellow,
    inset 0 0 16px yellow,
    0 0 32px yellow,
    inset 0 0 32px yellow;

}
.droite {
    /* border: solid purple 5px; */
    width: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 4%;
    border-radius: 10%;
    box-shadow:
    0 0 4px blue,
    inset 0 0 4px blue,
    0 0 16px blue,
    inset 0 0 8px blue,
    0 0 32px blue,
    inset 0 0 16px blue;
    background-image: url(img/player\ 2.webp);
    background-size:contain;
    opacity: 0.8;
    text-align: center;
    color: white;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px black,
    0 0 82px black,
    0 0 92px black,
    0 0 102px black,
    0 0 151px black;


}